<div class="lhead">
  <ol>
    <li>Col1</li>
    <li>Col2</li>
    <li class="text-center">Col3</li>
    <li class="text-center">Col4</li>
    <li class="text-center" style="width:60px">#</li>
  </ol>
</div>
<div class="lbody"></div>