<li class="jab-xs-title">Col1</li>
<li class="jab-xs-hidden">Col2</li>
<li class="text-center jab-xs-hidden">Col3</li>
<li class="text-center jab-xs-hidden">Col4</li>
<li class="jab-xs-aside actions">
  <a href="#" title="Modifier" data-type="edit"><i class="fa fa-pencil"></i></a>
  <a href="#" title="Analyser" data-type="reporting" class="jab-xs-hidden"><i class="fa fa-signal"></i></a>
</li>