<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <section class="lead">
        <h3>Upcoming Movies</h3>
      </section>
      <div id="upcoming-region"></div>
    </div>
    <div class="col-lg-6">
      <section class="lead">
        <h3>In Theaters</h3>
      </section>
      <div id="theatre-region"></div>
    </div>
  </div>
</div>