<td>{{name}}</td>
<td>
  <p class="small text-muted">
    {{description}}
  </p>
</td>
<td>
  <span class="label label-{{dangerClass}}">{{dangerFormatted}}</span>
</td>
<td>
  <button data-js-edit="true" class="btn btn-xs btn-info" title="Edit">
    <i class="fa fa-pencil"></i>
  </button>
  <button data-js-destroy="true" class="btn btn-xs btn-danger">
    <i class="fa fa-minus-circle"></i>
  </button>
</td>