<div class="col-md-12">
  <div class="pull-left">
    <button id="new-crew" class="btn btn-info">
      <i class="icon-plus"></i>
      Add
    </button>
  </div>
  <div class="pull-right">
    <ul class="nav nav-pills small">
      <li>Sort: </li>
      <li class="active"><a href="#">Name</a></li>
      <li><a href="#">Title</a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>