<div id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Crew</h1>
        <h4>The Crew Members of Planet Express</h4>
        <div id="page-icons">
          <i class="accessibility fa fa-male"></i>
          <i class="accessibility fa fa-male"></i>
          <i class="accessibility fa fa-male"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumb pull-right">
      <li>
        <a href="#">Home</a>
      </li>
      <li class="unavailable">
        <a href="#">Crew</a>
      </li>
      <li class="active">
        Fry
      </li>
    </ul>
  </div>
</div>