
<div id="crew-list">
  <div id="title-region"></div>


  <div class="container">
    <section>
      <div id="panel-region" class="row"></div>
      <div id="new-region"></div>
    </section>

    <section id="crew-region"></section>
  </div>

</div>
