<div class="row row-v-xs">
  <div class="col-sm-8">
  </div>
  <div class="col-sm-4">
    <button class="btn btn-block btn-info" id="new-thing">
      <i class="fa fa-plus"></i> Add something
    </button>
  </div>
</div>